 .bookEntry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vw;
  }

 img {
    margin-right: 10px;
}

.bookInfo {
    padding: 5vw;
    padding-left: 0;
}